{
    "kafka": {
        "username": "",
        "password": "",
        "brokers": "localhost:9092",
        "topic": "demo"
    },
    "file": {
        "filepath": "/tmp/demo.json"
    },
    "misc": {
        "interval_ms": 10000,
        "devmode": true,
        "destination": "kafka",
        "assets_levels": 2
    },
    "asset_0": {
        "label": "store",
        "assets": 3,
        "dimensions": 2,
        "dimension_labels" : {
            "d_0": "country",
            "d_1": "city"
        },
        "dimension_types" : {
            "d_0": "fixed",
            "d_1": "fixed"
        },
        "dimension_values" : {
            "d_0": ["IND","USA","FRA"],
            "d_1": ["Kerala","Texas","Toulouse"]
        }
    },
    "asset_1": {
        "label": "pos",
        "assets": 5,
        "dimensions" : 4,
        "metrics":3,
        "dimension_labels" : {
            "d_0": "position",
            "d_1": "type",
            "d_2": "customer_id",
            "d_3": "product_id"
        },
        "dimension_types" : {
            "d_0": "fixed",
            "d_1": "fixed",
            "d_2": "high_cardinality",
            "d_3": "high_cardinality"            
        },
        "dimension_values" : {
            "d_0": ["entrance","aisle","entrance","center","parking"],
            "d_1": ["mobile","terminal","mobile","tablet","selfservice-kiosk"],
            "d_2": 1000000,
            "d_3": 500000
        },
        "metrics_labels": {
            "m_0": "quantity",
            "m_1": "discount",
            "m_2": "unit_price"
        },
        "metrics_values": {
            "m_0": [1, 38],
            "m_1": [0, 10],
            "m_2": [1, 99999]
        }
    }
}
