{
    "kafka": {
        "username": "",
        "password": "",
        "brokers": "ec2-52-12-154-117.us-west-2.compute.amazonaws.com:9092",
        "topic": "factory-streams"
    },
    "misc": {
        "interval_ms": 2000,
        "devmode": false,
        "assets_levels": 2
    },
    "asset_0": {
        "label": "plant",
        "assets": 8,
        "dimensions": 4,
        "dimension_labels" : {
            "d_0": "country",
            "d_1": "city",
            "d_2": "material",
            "d_3": "material_provider"
        },
        "dimension_types" : {
            "d_0": "fixed",
            "d_1": "fixed",
            "d_2": "fixed",
            "d_3": "fixed"
        },
        "dimension_values" : {
            "d_0": ["GBR","IND","USA","FRA","FRA","GBR","IND","USA"],
            "d_1": ["Liverpool","Kerala","Texas","Toulouse","Belfort","Manchester","Noida","Clarksville"],
            "d_2": ["silicon_multi_layers","silicon_premium","Microcrystalline","silicon_premium","Polycrystalline","Microcrystalline","Microcrystalline","Polycrystalline"],
            "d_3": ["NextMaterials","IndiaTech","Glassimium","Glassimium","NextMaterials","industriacard","IndiaTech","industriacard"] 
        }
    },
    "asset_1": {
        "label": "machine",
        "assets": 8,
        "dimensions" : 8,
        "metrics":12,
        "dimension_labels" : {
            "d_0": "machine_provider",
            "d_1": "machine_configuration",
            "d_2": "maintenance_plan",
            "d_3": "next_maintenance",
            "d_4": "lot_id",
            "d_5": "wafer_id",
            "d_6": "step_id",
            "d_7": "room_id" 
        },
        "dimension_types" : {
            "d_0": "fixed",
            "d_1": "fixed",
            "d_2": "fixed",
            "d_3": "fixed",
            "d_4": "high_cardinality",
            "d_5": "high_cardinality",
            "d_6": "high_cardinality",
            "d_7": "high_cardinality"             
        },
        "dimension_values" : {
            "d_0": ["AdvancedXF","Sil-Light","Ulti-Tronix","Sil-Light","AdvancedXF","Conductor","Conductor","Ulti-Tronix"],
            "d_1": ["vendor_default","vendor_default","vendor_default","vendor_default","vendor_default","vendor_default","vendor_default","vendor_default"],
            "d_2": ["weekly","daily","monthly","biweekly","monthly","weekly","monthly","daily"],
            "d_3": ["5","1","17","4","26","3","5","1"],
            "d_4": 1000000,
            "d_5": 500000,
            "d_6": 75,
            "d_7": 10 
        },
        "metrics_labels": {
            "m_0": "temperature",
            "m_1": "vibration",
            "m_2": "humidity",
            "m_3": "pressure",
            "m_4": "proximity",
            "m_5": "accelerometer_x",
            "m_6": "accelerometer_y",
            "m_7": "accelerometer_z",
            "m_8": "light",
            "m_9": "sound",
            "m_10": "accepted",
            "m_11": "rejected"
        },
        "metrics_values": {
            "m_0": [45, 50],
            "m_1": [90, 100],
            "m_2": [20, 25],
            "m_3": [35, 60],
            "m_4": [1, 10],
            "m_5": [70, 80],
            "m_6": [70, 80],
            "m_7": [70, 80],
            "m_8": [13, 15],
            "m_9": [9, 10],
            "m_10": [5, 10],
            "m_11": [0,0]
        }
    }
}
